## Palabras

In [1]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Imprime todas las letras en mayuscula**

In [2]:
for word in words:
    for letter in word:
        print(letter.upper(), end='')

PLAYFILLINGBARTHEATREEASYGOINGDATELEADTHATSTORYISLAND

**Crea una nueva lista que contenga 5 o más letras**

In [3]:
# Crear una nueva lista con palabras de 5 o más letras
longer_words = [word for word in words if len(word) >= 5]

# Imprimir la nueva lista
print("Palabras con 5 o más letras:", longer_words)

Palabras con 5 o más letras: ['filling', 'theatre', 'easygoing', 'story', 'island']

**Imprime la primera palabra que empiece por 't'**

In [4]:
# Buscar la primera palabra que empiece por 't'
for word in words:
    if word.startswith('t'):
        print("Primera palabra que empieza por 't':", word)
        break

Primera palabra que empieza por 't': theatre

## Numeros

**Crea una lista que contenga el cuadraro de cada numero entre 1 y 10**

In [5]:
# Crear una lista que contenga el cuadrado de cada número entre 1 y 10
squares = [x ** 2 for x in range(1, 11)]

# Imprimir la lista de cuadrados
print("Lista de cuadrados:", squares)

Lista de cuadrados: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Imprime una lista que contenga el cuadrado de cada número impar del 1 al 10**

In [6]:
# Crear una lista que contenga el cuadrado de cada número impar del 1 al 10
squares_odd = [x ** 2 for x in range(1, 11) if x % 2 != 0]

# Imprimir la lista de cuadrados de números impares
print("Lista de cuadrados de números impares:", squares_odd)

Lista de cuadrados de números impares: [1, 9, 25, 49, 81]

**Crear una lista con los cuadrados de todos los múltiplos de 8 por debajo de 1000**

In [7]:
# Crear una lista con los cuadrados de todos los múltiplos de 8 por debajo de 1000
squares_multiples_of_8 = [x ** 2 for x in range(8, 1000, 8)]

# Imprimir la lista de cuadrados de múltiplos de 8
print("Lista de cuadrados de múltiplos de 8 por debajo de 1000:", squares_multiples_of_8)

Lista de cuadrados de múltiplos de 8 por debajo de 1000: [64, 256, 576, 1024, 1600, 2304, 3136, 4096, 5184, 6400, 7744, 9216, 10816, 12544, 14400, 16384, 18496, 20736, 23104, 25600, 28224, 30976, 33856, 36864, 40000, 43264, 46656, 50176, 53824, 57600, 61504, 65536, 69696, 73984, 78400, 82944, 87616, 92416, 97344, 102400, 107584, 112896, 118336, 123904, 129600, 135424, 141376, 147456, 153664, 160000, 166464, 173056, 179776, 186624, 193600, 200704, 207936, 215296, 222784, 230400, 238144, 246016, 254016, 262144, 270400, 278784, 287296, 295936, 304704, 313600, 322624, 331776, 341056, 350464, 360000, 369664, 379456, 389376, 399424, 409600, 419904, 430336, 440896, 451584, 462400, 473344, 484416, 495616, 506944, 518400, 529984, 541696, 553536, 565504, 577600, 589824, 602176, 614656, 627264, 640000, 652864, 665856, 678976, 692224, 705600, 719104, 732736, 746496, 760384, 774400, 788544, 802816, 817216, 831744, 846400, 861184, 876096, 891136, 906304, 921600, 937024, 952576, 968256, 984064]

## People

In [9]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**Cuánta gente hay?**

In [10]:
# Contar cuántas personas hay
cantidad_personas = len(people)

# Imprimir la cantidad de personas
print("Cantidad de personas:", cantidad_personas)

Cantidad de personas: 5

**Cuanta gente tiene hijos**?

In [11]:
# Contar cuántas personas tienen hijos
cantidad_personas_con_hijos = sum(1 for person in people if person["n_kids"] > 0)

# Imprimir la cantidad de personas con hijos
print("Cantidad de personas con hijos:", cantidad_personas_con_hijos)

Cantidad de personas con hijos: 4

**Cuantos hijos tienen en total?**

In [12]:
# Calcular cuántos hijos hay en total
total_hijos = sum(person["n_kids"] for person in people)

# Imprimir el total de hijos
print("Total de hijos:", total_hijos)

Total de hijos: 10

**En un año, los nombres que terminen en "a" tendrán un niño extra. Crea una lista de diccionarios con la información de las personas en un año**

In [13]:
# Crear una lista de diccionarios con la información de las personas después de un año
people_next_year = []
for person in people:
    # Copiar el diccionario original
    new_person = person.copy()
    # Incrementar el número de hijos si el nombre termina en "a"
    if person["name"].endswith("a"):
        new_person["n_kids"] += 1
    # Agregar el diccionario modificado a la nueva lista
    people_next_year.append(new_person)

# Imprimir la lista de diccionarios con la información de las personas después de un año
print("Información de las personas después de un año:")
for person in people_next_year:
    print(person)

Información de las personas después de un año:
{'name': 'Juan', 'age': 34, 'n_kids': 2}
{'name': 'Pepe', 'age': 27, 'n_kids': 0}
{'name': 'Sonia', 'age': 41, 'n_kids': 2}
{'name': 'Lucía', 'age': 22, 'n_kids': 3}
{'name': 'Leo', 'age': 55, 'n_kids': 5}